# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
env/
venv/

# IDE/editor config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
# .env

# Local SQLite DB (not needed on cloud PostgreSQL)
data.db

# Logs or temp files
*.log
*.tmp

# Allow only project-critical files
!main.py
!auth.py
!database.py
!models.py
!schemas.py
!requirements.txt
!routers/
!templates/
!static/
